<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936849219887-klidmtje0i16ejcf7hehe69ubboho7pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936849219887-klidmtje0i16ejcf7hehe69ubboho7pg</string>
	<key>API_KEY</key>
	<string>AIzaSyCRlmnL0zUAofmv1S4X9FXmHdvFK6R-dWA</string>
	<key>GCM_SENDER_ID</key>
	<string>936849219887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLearn</string>
	<key>PROJECT_ID</key>
	<string>fir-learn-39b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learn-39b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936849219887:ios:439e045acfb293376e01da</string>
</dict>
</plist>